.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: calc(90vh - 60px); /* Ajustado para asegurar que el contenido no cubra el footer */
    margin-bottom: 60px; /* Añadir espacio extra al final para el footer */
}

.relatedproducts h1 {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    margin: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente */
    justify-content: center; /* Centrar los elementos */
}

/* Estilos para tablets */
@media (max-width: 768px) {
    .relatedproducts h1 {
        font-size: 26px;
    }

    .relatedproducts-item {
        gap: 20px;
    }

    .relatedproducts-item img {
        width: 80px; /* Ajustar el tamaño de la imagen */
        height: auto;
    }

    .relatedproducts-item p {
        font-size: 12px; /* Ajustar el tamaño del texto */
    }

    .relatedproducts-item button {
        padding: 5px 10px; /* Ajustar el tamaño del botón */
        font-size: 12px; /* Ajustar el tamaño del texto del botón */
    }
}

/* Estilos para celulares */
@media (max-width: 480px) {
    .relatedproducts h1 {
        font-size: 22px;
    }

    .relatedproducts hr {
        width: 120px;
        height: 3px;
    }

    .relatedproducts-item {
        gap: 10px;
        flex-direction: column; /* Para que los elementos se apilen verticalmente */
        align-items: center; /* Centrar los elementos */
    }

    .relatedproducts-item img {
        width: 60px; /* Ajustar el tamaño de la imagen */
        height: auto;
    }

    .relatedproducts-item p {
        font-size: 10px; /* Ajustar el tamaño del texto */
    }

    .relatedproducts-item button {
        padding: 4px 8px; /* Ajustar el tamaño del botón */
        font-size: 10px; /* Ajustar el tamaño del texto del botón */
    }
}
