.offers {
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #e1ffea22, #b6bdc8);
  flex-direction: row-reverse; /* Cambiar dirección de los elementos */
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinear texto al inicio */
}

.offers-left h1 {
  color: #171717;
  font-size: 50px; /* Tamaño del texto aumentado */
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 24px; /* Tamaño del texto aumentado */
  font-weight: 600;
}

.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #787777;
  border: none;
  color: white;
  font-size: 28px; /* Tamaño del texto aumentado */
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; /* Añadir espacio a la derecha */
}
